In [ ]:
1+1

In [ ]:
2**3

In [ ]:
3/2

In [ ]:
7%4
7/4

In [ ]:
13*14

In [ ]:
15*16

In [ ]:
0.1+0.2-0.3

In [ ]:
list =5

In [ ]:
list

In [ ]:
name="jatin"
name

In [ ]:
type(name)

In [ ]:
a= 4.7
b= int(a)
print(a,b)

In [ ]:
name='hi hr"e'
print(name)
name='hi thrre'
print(name)
name = "hi g'g"
print(name)

In [ ]:
s = "hello"
print(s[-1])
print(s[-5],s[0])
# print(s[5])
# print(s[-6])

In [ ]:
print("hi /nThere")
print("hi \nThere")

In [3]:
# '2'+3  
# error
'2'+str(3)

'23'

In [5]:
a='a'
a+='b'
# immutable, created whole new string, not just changed data at same location
print(a)

ab

In [1]:
print("hi my name is {}".format("Jatin Goyal"))

hi my name is Jatin Goyal

In [6]:
print("my name is {j} {g}".format(j="Jatin", g='goyal'))
print("my name is {g} {g}".format(j="Jatin", g='goyal'))
print("my name is {} {}".format("Jatin",'goyal'))
print("my name is {1} {0}".format("Jatin",'goyal'))
print("my name is {1} {1}".format("Jatin",'goyal'))

my name is Jatin goyal
my name is goyal goyal
my name is Jatin goyal
my name is goyal Jatin
my name is goyal goyal

In [16]:
result = 10.65655
print("result is: {}".format(result))
print("result is: {:1.2f}".format(result))  # this also works, no need to name the var
print("result is: {r:6.2f}".format(r=result))
print("result is: {0:1.2f}".format(result)) # also works, as it takes 0 as index
print("result is: {0:1.2f}".format(result,55.52156))
print("result is: {1:1.2f}".format(result,55.52156))

result is: 10.65655
result is: 10.66
result is:  10.66
result is: 10.66
result is: 10.66
result is: 55.52

In [22]:
numbers = [2,1,3]
print(numbers[:])
print(numbers[:2])
print(numbers[1:]) # returns a list

[2, 1, 3]
[2, 1]
[1, 3]

In [24]:
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.append("hi there")
print(numbers)

[1, 2, 3]
[3, 2, 1]
[3, 2, 1, 'hi there']