In [ ]:
1+1

In [ ]:
2**3

In [ ]:
3/2

In [ ]:
7%4
7/4

In [ ]:
13*14

In [ ]:
15*16

In [ ]:
0.1+0.2-0.3

In [ ]:
list =5

In [ ]:
list

In [ ]:
name="jatin"
name

In [ ]:
type(name)

In [ ]:
a= 4.7
b= int(a)
print(a,b)

In [ ]:
name='hi hr"e'
print(name)
name='hi thrre'
print(name)
name = "hi g'g"
print(name)

In [ ]:
s = "hello"
print(s[-1])
print(s[-5],s[0])
# print(s[5])
# print(s[-6])

In [ ]:
print("hi /nThere")
print("hi \nThere")

In [3]:
# '2'+3  
# error
'2'+str(3)

'23'

In [5]:
a='a'
a+='b'
# immutable, created whole new string, not just changed data at same location
print(a)

ab

In [1]:
print("hi my name is {}".format("Jatin Goyal"))

hi my name is Jatin Goyal

In [6]:
print("my name is {j} {g}".format(j="Jatin", g='goyal'))
print("my name is {g} {g}".format(j="Jatin", g='goyal'))
print("my name is {} {}".format("Jatin",'goyal'))
print("my name is {1} {0}".format("Jatin",'goyal'))
print("my name is {1} {1}".format("Jatin",'goyal'))

my name is Jatin goyal
my name is goyal goyal
my name is Jatin goyal
my name is goyal Jatin
my name is goyal goyal

In [16]:
result = 10.65655
print("result is: {}".format(result))
print("result is: {:1.2f}".format(result))  # this also works, no need to name the var
print("result is: {r:6.2f}".format(r=result))
print("result is: {0:1.2f}".format(result)) # also works, as it takes 0 as index
print("result is: {0:1.2f}".format(result,55.52156))
print("result is: {1:1.2f}".format(result,55.52156))

result is: 10.65655
result is: 10.66
result is:  10.66
result is: 10.66
result is: 10.66
result is: 55.52

In [22]:
numbers = [2,1,3]
print(numbers[:])
print(numbers[:2])
print(numbers[1:]) # returns a list

[2, 1, 3]
[2, 1]
[1, 3]

In [24]:
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.append("hi there")
print(numbers)

[1, 2, 3]
[3, 2, 1]
[3, 2, 1, 'hi there']

In [ ]:
dict1 = {1:"sing"}
print(dict1)
print(dict1[1])

{1: 'sing'}
sing

In [ ]:
# dict2 = {[1]:"testing"}
# print(dict2[[1]])
# # will cause error, lists (mutuable objects cant be used as a key in dict)

In [ ]:
dict3={"name":"Shiv","roll number":'rj2503'}
print(dict3)
print(dict3["roll number"])
# output in single quotes

{'name': 'Jatin Goyal', 'roll number': 'rj2503'}
rj2503

In [11]:
dict4={"name":"Shiv", 'work':"father's Bussiness"}
print(dict4)
print(dict4["work"])

{'name': 'Shiv', 'work': "father's Bussiness"}
father's Bussiness

In [12]:
dict5={"name":"Shiv", 'work':"fathers Bussiness"}
print(dict5)
print(dict5["work"])

{'name': 'Shiv', 'work': 'fathers Bussiness'}
fathers Bussiness

In [14]:
print(dict4.keys()) #list of keys 
print(dict4.values()) # list of values
print(dict4.items()) # listn of tuples of key value pairs

dict_keys(['name', 'work'])
dict_values(['Shiv', "father's Bussiness"])
dict_items([('name', 'Shiv'), ('work', "father's Bussiness")])

In [ ]:
dict5={'shopName':"NHG",'items':['kids collection','women collection','men collection']}
print(dict5)
dict5['items'].pop()
print(dict5)
dict5['items'][1]="Women's Collection"
print(dict5)
#dictionaries are mutable

{'shopName': 'NHG', 'items': ['kids collection', 'women collection', 'men collection']}
{'shopName': 'NHG', 'items': ['kids collection', 'women collection']}
{'shopName': 'NHG', 'items': ['kids collection', "Women's Collection"]}

In [4]:
t=(1,2,3,[5,6])
print(t[3])
print(t.index([5,6]))
print(t[2])
print(t.count(2))
print(t.index(2))

[5, 6]
3
3
1
1

In [5]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [14]:
myset = set()
print(myset)
myset.add(2)
myset.add("a")
print(myset)
mylist = [1,3,4]
print(set(mylist))
# myset.add(set(mylist))
myset.update(mylist)
print(myset)
str = "shiv"
print(str)
myset.update(str)
print(myset)
str = "vish"
myset.update(str)
print(myset)

set()
{2, 'a'}
{1, 3, 4}
{1, 2, 3, 4, 'a'}
shiv
{1, 2, 3, 4, 'a', 'h', 'i', 'v', 's'}
{1, 2, 3, 4, 'a', 'h', 'i', 'v', 's'}

In [15]:
1==1

True

In [16]:
1=='1'

False

In [17]:
1==int('1')

True

In [19]:
s = None
print(type(s))
print(s)

<class 'NoneType'>
None

In [24]:
mset = {1,3,4,5,5}
print(mset)
mset={1,5}
print(mset)

{1, 3, 4, 5}
{1, 5}

In [25]:
pwd

'j:\\Development\\Python_courses\\pyZeroToHeroJosePortilla\\myCodes'

In [26]:
%%writefile myfile.txt
Hii learning to create files
this is 2nd line
this is 3rd line

Writing myfile.txt

In [28]:
# myfile = open('myfiles.txt')
myfile = open('myfile.txt')

In [29]:
myfile.read()

'Hii learning to create files\nthis is 2nd line\nthis is 3rd line\n'

In [30]:
myfile.read()

''

In [32]:
myfile.seek(0)

0

In [33]:
myfile.read()

'Hii learning to create files\nthis is 2nd line\nthis is 3rd line\n'

In [34]:
myfile.seek(0)

0

In [37]:
contents = myfile.read()

In [40]:
print(contents)
contents

Hii learning to create files
this is 2nd line
this is 3rd line

'Hii learning to create files\nthis is 2nd line\nthis is 3rd line\n'

In [41]:
myfile.read()

''

In [43]:
myfile.seek(0)

0

In [44]:
print(myfile.read())

Hii learning to create files
this is 2nd line
this is 3rd line

In [45]:
myfile.read()

''

In [46]:
myfile.seek(0)

0

In [47]:
contents = myfile.readlines()

In [48]:
print(contents)

['Hii learning to create files\n', 'this is 2nd line\n', 'this is 3rd line\n']

In [49]:
contents

['Hii learning to create files\n', 'this is 2nd line\n', 'this is 3rd line\n']

In [51]:
for s in contents:
  print(s)

Hii learning to create files

this is 2nd line

this is 3rd line

In [52]:
pwd

'j:\\Development\\Python_courses\\pyZeroToHeroJosePortilla\\myCodes'

In [1]:
print(myfile)

NameError: name 'myfile' is not defined

In [2]:
with open("myfile.txt") as my_file:
  contents = my_file.read()
print(contents)

Hii learning to create files
this is 2nd line
this is 3rd line

In [5]:
with open("myfile.txt", mode="r") as f:
  print(f.read())

Hii learning to create files
this is 2nd line
this is 3rd line

In [6]:
with open("myfile.txt",mode="a") as f:
  f.write("\nI am adding this 4th line")

In [7]:
with open("myfile.txt", mode="r") as f:
  print(f.read())

Hii learning to create files
this is 2nd line
this is 3rd line

I am adding this 4th line

In [8]:
%%writefile myfile.txt
1 on 1 
2 on 2
3 on 3

Overwriting myfile.txt

In [9]:
with open("myfile.txt",mode="r") as f:
  print(f.read())

1 on 1
2 on 2
3 on 3

In [10]:
f.read()

ValueError: I/O operation on closed file.

In [14]:
f = open("myfile.txt")
content = f.read()
f

In [15]:
f = open("myfile.txt")
f.read()

'1 on 1 \n2 on 2\n3 on 3\n'

In [16]:
%%writefile myfile.txt
1 on 1
2 on 2
3 on 3

Overwriting myfile.txt

In [18]:
f = open("myfile.txt")
f.read()

'1 on 1\n2 on 2\n3 on 3\n'

In [19]:
with open("myfile.txt",mode="a") as f:
  f.write("4 on 4\n")

In [20]:
with open("myfile.txt") as f:
  print(f.read())

1 on 1
2 on 2
3 on 3
4 on 4

In [22]:
with open("myfile.txt") as f:
  contents = f.read()

In [23]:
print(contents)

1 on 1
2 on 2
3 on 3
4 on 4

In [24]:
contents

'1 on 1\n2 on 2\n3 on 3\n4 on 4\n'

In [1]:
x,y  = 1,4

In [2]:
print(x,y)

1 4

In [4]:
x,y=4,[{'name':"Jatin",'age':25},"ShivLearners"]
print(x,y)

4 [{'name': 'Jatin', 'age': 25}, 'ShivLearners']

In [ ]:
x = 2,4
print(x)
#sent as a tuple

(2, 4)

In [7]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')
print('He said his name was %r.' %5)
print('He said his name was %r hehe %r, haha %s hohoo %s hewhewh %s huhu %r'
      %({"name":"jatin","age":23},["jatin",23],'[hi\n]',["jatin\n",23],'["jatin\n",23]',"['jatin\n',23]"))

He said his name was Fred.
He said his name was 'Fred'.
He said his name was 5.
He said his name was {'name': 'jatin', 'age': 23} hehe ['jatin', 23], haha [hi
] hohoo ['jatin\n', 23] hewhewh ["jatin
",23] huhu "['jatin\n',23]"

In [8]:
num = 13.144
print(f"it is {num:5.2f}")      # Variable name
print(f"result: {num * 2:5.2f}") # Math expression

it is 13.14
result: 26.29

In [9]:
sr = "it is {:5.2f}".format(13.144)
print(sr)

it is 13.14

In [10]:
print(len(repr('abcd')))
print(len(repr(['abcd']))) 
print(len(repr('""'"")))
print(repr('""'""))

6
8
4
'""'

In [11]:
print(str('"sdf"'"weaf"))
print('"sdf"'"weaf")
print('"adasd"')
# print('"adasd"'adsad)
print('"adasd"''bvb')
print('"adasd"'"bvb")
# odd

"sdf"weaf
"sdf"weaf
"adasd"
"adasd"bvb
"adasd"bvb

In [23]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [24]:
print(d)
print(d.keys())
print(d.values())
print(d.items())
print(list(d.keys()))
print(list(d.values()))
print(list(d.items()))
print(type(d.keys()))
print(type(list(d.keys())))

{'key1': 1, 'key2': 2, 'key3': 3}
dict_keys(['key1', 'key2', 'key3'])
dict_values([1, 2, 3])
dict_items([('key1', 1), ('key2', 2), ('key3', 3)])
['key1', 'key2', 'key3']
[1, 2, 3]
[('key1', 1), ('key2', 2), ('key3', 3)]
<class 'dict_keys'>
<class 'list'>

In [25]:
k = d.keys()
l = list(d.keys())
d['new'] = "hehe"
print(f"{d}\n{k}\n{l}")

{'key1': 1, 'key2': 2, 'key3': 3, 'new': 'hehe'}
dict_keys(['key1', 'key2', 'key3', 'new'])
['key1', 'key2', 'key3']

In [26]:
d = {"a": 1}
k = d.keys()        # Live View
l = list(d.keys())  # Static Snapshot

d['new'] = "hehe"

print(f"Dictionary: {d}")
print(f"View (k):   {k}")     # Will have 'new'
print(f"List (l):   {l}")     # Will NOT have 'new'

Dictionary: {'a': 1, 'new': 'hehe'}
View (k):   dict_keys(['a', 'new'])
List (l):   ['a']

In [34]:
s = {}
print(s)
print(type(s))
s['name']="jatin"
print(s)

{}
<class 'dict'>
{'name': 'jatin'}

In [35]:
p = set()
print(p)
print(type(p))
p.add(5)
print(p)

set()
<class 'set'>
{5}

In [ ]:
# q=set(1,2) does not work
q = set({1,2})
print(f"{q}\n{type(q)}")

{1, 2}
<class 'set'>

In [38]:
r = set([32,43,4,45,5])

In [39]:
print(r)

{32, 4, 5, 43, 45}

In [40]:
r.add(51)
print(r)

{32, 4, 5, 43, 45, 51}

In [41]:
r.update([2,6,8])

In [42]:
print(r)

{32, 2, 4, 5, 6, 8, 43, 45, 51}

In [44]:
r.update({6,9,10,112})
print(r)

{32, 2, 4, 5, 6, 8, 9, 10, 43, 45, 112, 51}

In [45]:
print(len("jatin goyal"))
print(len(repr("jatin goyal")))

11
13

In [46]:
2.0==2

True

In [47]:
d = {"name": "Jatin", "age": 25}

# 1. Membership test on keys (Default behavior)
if "name" in d:
    print("Key exists!")

# 2. Membership test on the explicit 'keys' view
keys_view = d.keys()
print("age" in keys_view)  # Output: True

# 3. Membership test on the 'values' view
print(25 in d.values())    # Output: True

Key exists!
True
True

In [ ]:
while True:
    # 1. Your code runs first (unconditionally)
    user_input = input("Enter a positive number: ")
    
    # 2. Check condition at the end
    if int(user_input) > 0:
        break  # Exit the loop if condition is met
    
    print("Invalid input, try again.")

as of Python 3.7, you can absolutely rely on dictionaries being insertion-ordered. 
This means that when you iterate over a dictionary, the items will always appear in the exact order they were originally added
Updates vs. Re-insertions: If you update the value of an existing key, the order does not change. However, if you delete a key and then re-add it, that key moves to the end of the dictionary.
Reversible (Python 3.8+): Since the order is now stable, Python 3.8 added the ability to use the reversed() function on dictionaries and their views (keys, values, and items).

When to Still Use collections.OrderedDict
Even though standard dicts are now ordered, the collections.OrderedDict class still exists for three specific reasons: 
Order-Sensitive Equality: For standard dicts, {'a': 1, 'b': 2} == {'b': 2, 'a': 1} is True. For OrderedDict, this comparison is False because the order must match.
Explicit Reordering: OrderedDict has a .move_to_end() method that lets you move a key to either the beginning or the end efficiently.
Enhanced popitem(): In OrderedDict, you can use popitem(last=False) to remove and return the first item added; a standard dict's .popitem() always removes the last item.

In [4]:
d = {'c': 2, 'a': 1, 'b': 3}
sorted_by_key = dict(sorted(d.items())) 
# {'a': 1, 'b': 2, 'c': 3}
print(d)
print(sorted_by_key)

{'c': 2, 'a': 1, 'b': 3}
{'a': 1, 'b': 3, 'c': 2}

In [10]:
d = {'c': 2, 'a': 1, 'b': 3}
sorted_by_key = dict(sorted(d.items(),reverse=True)) 
# {'a': 1, 'b': 2, 'c': 3}
print(d)
print(sorted_by_key)

{'c': 2, 'a': 1, 'b': 3}
{'c': 2, 'b': 3, 'a': 1}

In [11]:
d = {'c': 2, 'a': 1, 'b': 3}
sorted_by_key = dict(sorted(d.items(),key = lambda x: x[0])) 
# {'a': 1, 'b': 2, 'c': 3}
print(d)
print(sorted_by_key)

{'c': 2, 'a': 1, 'b': 3}
{'a': 1, 'b': 3, 'c': 2}

In [12]:
d = {'c': 2, 'a': 1, 'b': 3}
sorted_by_key = dict(sorted(d.items(),key = lambda x: x[1])) 
# {'a': 1, 'b': 2, 'c': 3}
print(d)
print(sorted_by_key)

{'c': 2, 'a': 1, 'b': 3}
{'a': 1, 'c': 2, 'b': 3}

In [13]:
d = {'c': 2, 'a': 1, 'b': 3}
sorted_by_key = dict(sorted(d.items(),key = lambda x: x[1],reverse=True)) 
# {'a': 1, 'b': 2, 'c': 3}
print(d)
print(sorted_by_key)

{'c': 2, 'a': 1, 'b': 3}
{'b': 3, 'c': 2, 'a': 1}

In [8]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Flip the order
reversed_dict = dict(reversed(my_dict.items()))
print(my_dict)
print(my_dict.items())
print(reversed(my_dict.items()))
print(reversed_dict)
# Output: {'c': 3, 'b': 2, 'a': 1}

{'a': 1, 'b': 2, 'c': 3}
dict_items([('a', 1), ('b', 2), ('c', 3)])
<dict_reverseitemiterator object at 0x00000263067789A0>
{'c': 3, 'b': 2, 'a': 1}