In [ ]:
1+1

In [ ]:
2**3

In [ ]:
3/2

In [ ]:
7%4
7/4

In [ ]:
13*14

In [ ]:
15*16

In [ ]:
0.1+0.2-0.3

In [ ]:
list =5

In [ ]:
list

In [ ]:
name="jatin"
name

In [ ]:
type(name)

In [ ]:
a= 4.7
b= int(a)
print(a,b)

In [ ]:
name='hi hr"e'
print(name)
name='hi thrre'
print(name)
name = "hi g'g"
print(name)

In [ ]:
s = "hello"
print(s[-1])
print(s[-5],s[0])
# print(s[5])
# print(s[-6])

In [ ]:
print("hi /nThere")
print("hi \nThere")

In [3]:
# '2'+3  
# error
'2'+str(3)

'23'

In [5]:
a='a'
a+='b'
# immutable, created whole new string, not just changed data at same location
print(a)

ab

In [1]:
print("hi my name is {}".format("Jatin Goyal"))

hi my name is Jatin Goyal

In [6]:
print("my name is {j} {g}".format(j="Jatin", g='goyal'))
print("my name is {g} {g}".format(j="Jatin", g='goyal'))
print("my name is {} {}".format("Jatin",'goyal'))
print("my name is {1} {0}".format("Jatin",'goyal'))
print("my name is {1} {1}".format("Jatin",'goyal'))

my name is Jatin goyal
my name is goyal goyal
my name is Jatin goyal
my name is goyal Jatin
my name is goyal goyal

In [16]:
result = 10.65655
print("result is: {}".format(result))
print("result is: {:1.2f}".format(result))  # this also works, no need to name the var
print("result is: {r:6.2f}".format(r=result))
print("result is: {0:1.2f}".format(result)) # also works, as it takes 0 as index
print("result is: {0:1.2f}".format(result,55.52156))
print("result is: {1:1.2f}".format(result,55.52156))

result is: 10.65655
result is: 10.66
result is:  10.66
result is: 10.66
result is: 10.66
result is: 55.52

In [22]:
numbers = [2,1,3]
print(numbers[:])
print(numbers[:2])
print(numbers[1:]) # returns a list

[2, 1, 3]
[2, 1]
[1, 3]

In [24]:
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.append("hi there")
print(numbers)

[1, 2, 3]
[3, 2, 1]
[3, 2, 1, 'hi there']

In [ ]:
dict1 = {1:"sing"}
print(dict1)
print(dict1[1])

{1: 'sing'}
sing

In [ ]:
# dict2 = {[1]:"testing"}
# print(dict2[[1]])
# # will cause error, lists (mutuable objects cant be used as a key in dict)

In [ ]:
dict3={"name":"Shiv","roll number":'rj2503'}
print(dict3)
print(dict3["roll number"])
# output in single quotes

{'name': 'Jatin Goyal', 'roll number': 'rj2503'}
rj2503

In [11]:
dict4={"name":"Shiv", 'work':"father's Bussiness"}
print(dict4)
print(dict4["work"])

{'name': 'Shiv', 'work': "father's Bussiness"}
father's Bussiness

In [12]:
dict5={"name":"Shiv", 'work':"fathers Bussiness"}
print(dict5)
print(dict5["work"])

{'name': 'Shiv', 'work': 'fathers Bussiness'}
fathers Bussiness

In [14]:
print(dict4.keys()) #list of keys 
print(dict4.values()) # list of values
print(dict4.items()) # listn of tuples of key value pairs

dict_keys(['name', 'work'])
dict_values(['Shiv', "father's Bussiness"])
dict_items([('name', 'Shiv'), ('work', "father's Bussiness")])

In [ ]:
dict5={'shopName':"NHG",'items':['kids collection','women collection','men collection']}
print(dict5)
dict5['items'].pop()
print(dict5)
dict5['items'][1]="Women's Collection"
print(dict5)
#dictionaries are mutable

{'shopName': 'NHG', 'items': ['kids collection', 'women collection', 'men collection']}
{'shopName': 'NHG', 'items': ['kids collection', 'women collection']}
{'shopName': 'NHG', 'items': ['kids collection', "Women's Collection"]}

In [4]:
t=(1,2,3,[5,6])
print(t[3])
print(t.index([5,6]))
print(t[2])
print(t.count(2))
print(t.index(2))

[5, 6]
3
3
1
1

In [5]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [14]:
myset = set()
print(myset)
myset.add(2)
myset.add("a")
print(myset)
mylist = [1,3,4]
print(set(mylist))
# myset.add(set(mylist))
myset.update(mylist)
print(myset)
str = "shiv"
print(str)
myset.update(str)
print(myset)
str = "vish"
myset.update(str)
print(myset)

set()
{2, 'a'}
{1, 3, 4}
{1, 2, 3, 4, 'a'}
shiv
{1, 2, 3, 4, 'a', 'h', 'i', 'v', 's'}
{1, 2, 3, 4, 'a', 'h', 'i', 'v', 's'}

In [15]:
1==1

True

In [16]:
1=='1'

False

In [17]:
1==int('1')

True

In [19]:
s = None
print(type(s))
print(s)

<class 'NoneType'>
None

In [24]:
mset = {1,3,4,5,5}
print(mset)
mset={1,5}
print(mset)

{1, 3, 4, 5}
{1, 5}

In [25]:
pwd

'j:\\Development\\Python_courses\\pyZeroToHeroJosePortilla\\myCodes'

In [26]:
%%writefile myfile.txt
Hii learning to create files
this is 2nd line
this is 3rd line

Writing myfile.txt

In [28]:
# myfile = open('myfiles.txt')
myfile = open('myfile.txt')

In [29]:
myfile.read()

'Hii learning to create files\nthis is 2nd line\nthis is 3rd line\n'

In [30]:
myfile.read()

''

In [32]:
myfile.seek(0)

0

In [33]:
myfile.read()

'Hii learning to create files\nthis is 2nd line\nthis is 3rd line\n'

In [34]:
myfile.seek(0)

0

In [37]:
contents = myfile.read()

In [40]:
print(contents)
contents

Hii learning to create files
this is 2nd line
this is 3rd line

'Hii learning to create files\nthis is 2nd line\nthis is 3rd line\n'

In [41]:
myfile.read()

''

In [43]:
myfile.seek(0)

0

In [44]:
print(myfile.read())

Hii learning to create files
this is 2nd line
this is 3rd line

In [45]:
myfile.read()

''

In [46]:
myfile.seek(0)

0

In [47]:
contents = myfile.readlines()

In [48]:
print(contents)

['Hii learning to create files\n', 'this is 2nd line\n', 'this is 3rd line\n']

In [49]:
contents

['Hii learning to create files\n', 'this is 2nd line\n', 'this is 3rd line\n']

In [51]:
for s in contents:
  print(s)

Hii learning to create files

this is 2nd line

this is 3rd line

In [52]:
pwd

'j:\\Development\\Python_courses\\pyZeroToHeroJosePortilla\\myCodes'

In [1]:
print(myfile)

NameError: name 'myfile' is not defined

In [2]:
with open("myfile.txt") as my_file:
  contents = my_file.read()
print(contents)

Hii learning to create files
this is 2nd line
this is 3rd line

In [5]:
with open("myfile.txt", mode="r") as f:
  print(f.read())

Hii learning to create files
this is 2nd line
this is 3rd line

In [6]:
with open("myfile.txt",mode="a") as f:
  f.write("\nI am adding this 4th line")

In [7]:
with open("myfile.txt", mode="r") as f:
  print(f.read())

Hii learning to create files
this is 2nd line
this is 3rd line

I am adding this 4th line

In [8]:
%%writefile myfile.txt
1 on 1 
2 on 2
3 on 3

Overwriting myfile.txt

In [9]:
with open("myfile.txt",mode="r") as f:
  print(f.read())

1 on 1
2 on 2
3 on 3

In [10]:
f.read()

ValueError: I/O operation on closed file.

In [14]:
f = open("myfile.txt")
content = f.read()
f

In [15]:
f = open("myfile.txt")
f.read()

'1 on 1 \n2 on 2\n3 on 3\n'

In [16]:
%%writefile myfile.txt
1 on 1
2 on 2
3 on 3

Overwriting myfile.txt

In [18]:
f = open("myfile.txt")
f.read()

'1 on 1\n2 on 2\n3 on 3\n'

In [19]:
with open("myfile.txt",mode="a") as f:
  f.write("4 on 4\n")

In [20]:
with open("myfile.txt") as f:
  print(f.read())

1 on 1
2 on 2
3 on 3
4 on 4

In [22]:
with open("myfile.txt") as f:
  contents = f.read()

In [23]:
print(contents)

1 on 1
2 on 2
3 on 3
4 on 4

In [24]:
contents

'1 on 1\n2 on 2\n3 on 3\n4 on 4\n'